<!DOCTYPE html>
<html lang="pl">

	<head>
		<title>Login form</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <meta charset="UTF-8">
	</head>
	
	<body>
		<div class="register">
			<h1>Sign in</h1>
            <form method="post">
				<div class="table">
					<label class="describe" for="username">Username:</label>
					<input type="text" name="username" required/>
				</div>
				<div class="table">
					<label class="describe" for="password">Password:</label>
					<input type="password" name="password" required/>
				</div>
				<label class="err">{{ error }}</label>
				<input type="submit" name="btn-signin" value="Login"/>
            </form>
		</div>
	</body>
</html>